html {
    height: 100vh;
}

body {
    height: 100vh;
}

#log-out-button {
    display: none;
}

#calendar {
    margin: 1vh 1vw;
}

#log-in-alert {
    position: absolute;
    top: -70px;
    left: 1vw;
    width: 98vw;
    z-index: 100;
    max-height: 60px;
    transition: top 0.5s ease-in-out;
}

.centre-table {
    text-align: center;
}

.dates {
    height: 16px;
}
